.sectionBox{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
}   
    .caroContent{
        height: 60vh;
        width: 45%;
        background-image: url("../../../assets/AboutIMG.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .static{
        width: 55%;
        padding: 2rem;
        background-color: #f6f8f4;
        object-fit:contain;
        box-shadow: 1px 0  15px #5c5c5c99 inset;

        h2{
            font-size: 36px;
        }

        p{
            font-size: 15px;
        }
    }

    .mobileTxt{
        display: none;
    }
    
@media (max-width:480px) {

    //--larghezza fissa, cambiare--//
    .caroContent{
        display: flex;
        align-items: center;
        justify-content: end;
        width: 480px;
        height: 64vh;
        background-image: url("../../../assets/About-Mobile.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
    }

    .mobileTxt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f6f8f4a4;
        width: 30%;
        height: 80%;
        padding: 0 3rem;
    }

    .mobileTxt h3{
        font-size: medium;
        margin-bottom: 2rem;
    }

    .static{
        display: none;
    }


}
