<div class="sectionBox">
    <div class="caroContent">

        <div class="mobileTxt">
            <h3>"La passione dà vita all'arte, l'esperienza dona la perfezione."</h3>
            <p><b>Vittorio Luce</b></p>
        </div>
        
    </div>

    <div class="static">
        <h2>Vittorio Luce</h2>
        <p>LuXar è stata fondata nel 1960 da <b>Vittorio Luce</b>, un uomo che, fuggito dall'Italia durante la Seconda Guerra Mondiale, ha portato con sé un sogno: quello di dimostrare al mondo che l'italianità è sinonimo di eleganza, valore e dignità, lontano da ogni stereotipo negativo. Cresciuto in un piccolo paese italiano, Vittorio si trasferì negli Stati Uniti in giovane età, portando con sé non solo la sua passione per le auto di lusso, ma anche un forte desiderio di costruire una nuova vita e di riscattare l'immagine del suo paese, segnato dalla guerra.</p>
        <p>Con la creazione di LuXar, Vittorio ha voluto affermare che l'Italia, con la sua tradizione artigianale, il suo design e la sua cultura, aveva tanto da offrire al mondo. La sua missione era chiara: offrire ai suoi clienti un'esperienza unica, con veicoli esclusivi e un servizio personalizzato che rispecchiasse la qualità e il gusto raffinato che solo l'Italia poteva incarnare. LuXar, sotto la guida di Vittorio, è diventata un simbolo di lusso, eleganza e affidabilità, e un esempio di come il sogno di un uomo possa trasformarsi in un marchio di prestigio internazionale.</p>
        <p>Vittorio ha sempre voluto che LuXar fosse più di un semplice rivenditore di auto di lusso. Ogni auto venduta rappresentava un pezzo del suo impegno per far crescere il nome dell'Italia in America, come testimonianza della sua determinazione e della sua visione. Grazie alla sua rete esclusiva di fornitori di alto livello e alla sua visione orientata al cliente, LuXar è riuscita a superare le difficoltà del tempo, portando con sé la passione, la raffinatezza e il carattere che Vittorio aveva sempre voluto trasmettere. Oggi, LuXar continua a essere un emblema di qualità e di successo, mantenendo alto il nome del suo fondatore e dimostrando che, attraverso il sogno e la perseveranza, ogni ostacolo può essere superato.</p>
    </div>

</div>
