.sectionBox{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 100%;
    /*
    Il componente padre non deve avere un'altezza fissa
    height: 30rem;
    */
}   
    .caroContent{
        height: auto;
        width: 45%;
        background-image: url("../../../assets/AboutIMG.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .static{
        /*
        Qui hai dato un'altezza fissa, il che può andare bene ma nel caso in cui il contenuto sia un testo
        come in questo caso, devi fare attenzione ad inserire un testo idoneo per lunghezza, in questo caso non va bene.
        Puoì anche non specificare l'altezza e fare in modo che l'elemento si adatti al contenuto
        height: 26rem;
        */
        width: 55%;
        padding: 2rem;
        background-color: #f6f8f4;
        object-fit:contain;
        box-shadow: 1px 0  15px #5c5c5c99 inset;

        h2{
            font-size: 36px;
        }

        p{
            font-size: 15px;
        }
    }
