footer{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #1A1A1A;
    color: #f4f6e5;
    height:10vh;
    border-top: 1px solid #ffffff66;

}

.rights{
    display: flex;  
    width: 50vw;
    padding-left: 300px;
}
.rights p{
    font-size: 12px;
    padding-right: 1.5rem;
    padding-top: 6px;
}

.rights p:hover{
    cursor: pointer;
    color: #c4c5be;
}

.logo{
    width: 50vw;
    height: 80%;
    background-image: url("../../../assets/LuxarLogo/LuxarLogo3.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    padding-right: 300px;
}