$myWidt: 30rem;
$auto1:"../../../assets/Auto1.png";
$auto2:"../../../assets/Auto2.png";
$auto3:"../../../assets/Auto3.png";
$auto4:"../../../assets/Auto4.png";
$auto5:"../../../assets/Auto5.png";

.slider{
    display: flex;
    align-content: space-evenly;
    //width portata al 100% secondo il commento in main.component.scss a riga 80.
    width: 100%;
    height: 300px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.slide{
    height: auto;
    background-color:  #f6f6f6;
    padding: 1rem;
    outline: 10px solid #060606;
}

#slideImg{
    width: $myWidt;
    height: $myWidt/1.915;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.innerSlide1{
    background-image: URL($auto1);
}

.innerSlide2{
    background-image: URL($auto2);
}

.innerSlide3{
    background-image: URL($auto3);
}

.innerSlide4{
    background-image: URL($auto4);
}

.innerSlide5{
    background-image: URL($auto5);
}