
<h3>Nuovi arrivi:</h3>
<div class="slider">
    <div class="slide" id="slideContainer">
        <div class="innerSlide1" id="slideImg"></div>
    </div>
    <div class="slide" id="slideContainer">
        <div class="innerSlide2" id="slideImg"></div>
    </div>
    <div class="slide" id="slideContainer">
        <div class="innerSlide3" id="slideImg"></div>
    </div>
    <div class="slide" id="slideContainer">
        <div class="innerSlide4" id="slideImg"></div>
    </div>
    <div class="slide" id="slideContainer">
        <div class="innerSlide5" id="slideImg"></div>
    </div>
