<div class="navBody">
  <div class="navTop">
    <div class="left">
      <div class="homeLogo" (click)="goTo('')"></div>
      <button class="hamburger">
        <div class="line"></div>
      </button>
      <p class="home" (click)="goTo('')">Home</p>
      <div class="logo"></div>
    </div>
    <input
      type="text"
      placeholder="Search..."
      name="search"
      class="searchBar input-ripple"
    />
    <button *ngIf="!isAdmin" class="login" (click)="goTo('login')" >login</button>
    <button *ngIf="isAdmin" class="logout" (click)="logOut()" >logout</button>
  </div>
  <div class="navBottom">
    <ul>
      <li class="popBrand">Rolls Royce</li>
      <li class="popBrand">Lamborghini</li>
      <li class="popBrand">Ferrari</li>
      <li class="popBrand">Aston Martin</li>
      <li class="popBrand">Bugatti</li>
    </ul>

    <div class="customizeContainer">
      <div class="adminZ" *ngIf="isAdmin" (click)="goTo('profile')">Manage Profile</div>
      <div class="adminZ" *ngIf="isAdmin" (click)="goTo('adminZone')">Admin Zone</div>
        <div *ngIf="showSummary && !isAdmin">
            <p class="summary" (click)="goTo('summary')">Summary</p>
          </div>
          <p *ngIf="!isAdmin" class="customBuild" (click)="goTo('build')">Customize you dream</p>
    </div>
  </div>
</div>
