<body>
  <p>custom-build works!</p>

  <div class="centralCard">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Car Generics</ng-template>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">Model</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="choice">Item 1</button>
              <button mat-menu-item class="choice">Item 2</button>
              <button mat-menu-item class="choice">Item 2</button>
              <button mat-menu-item class="choice">Item 2</button>
              <button mat-menu-item class="choice">Item 2</button>
            </mat-menu>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
        <form [formGroup]="secondFormGroup">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="Ex. 1 Main St, New York, NY"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</body>
