<body>
  <p>custom-build works!</p>

  <div class="centralCard">



    <button class="brandMenu" (click)="toggleMenu()">Brand</button>
    <div id="dropdownMenu" class="dropdown-menu">
      <ul>
        <li><button class="choice">RollsRoyce</button></li>
        <li><button class="choice" disabled>Ferrari</button></li>
        <li><button class="choice" disabled>Bugatti</button></li>
        <li><button class="choice" disabled>Aston Martin</button></li>
        <li><button class="choice" disabled>lamborghini</button></li>
      </ul>
    </div>



  </div>
</body>
