<div class="component">
  <div class="welcome">
    <h1>Benvenuto, {{ userName }}!</h1>
  </div>

  <div class="centralCard">
    <h2>Preventivi</h2>

    <div class="quoteSection">
      <div class="preventivi">
        <p *ngIf="isListEmpty">I preventivi non sono ancora stati caricati.</p>
        <div class="summaryCont" *ngFor="let build of summaryList, let i=index">
          <img src="../../../assets/svg/ok.svg" *ngIf="build.price" alt="approved" class="okSvg">
          <p>Order number: {{i +1}}</p>
          <p>Brand: {{ build.brand }}</p>
          <p>Model: {{ build.model }}</p>
          <p>Date: {{build.date}}</p>
          <p *ngIf="build.price">price: {{build.price}}</p>
          <button type="button" (click)="show(build)">Review</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button (click)="clear()">clear</button> -->
</div>

<!-- -----------------card a comparsa-------------------- -->
<div *ngIf="isShown" class="summarycard">
  <div class="summary">
    <div class="summaryHead">
      <h3>Quote details</h3>
    </div>
    <div class="buildCont">
      <div class="buildTxt">
        <div class="subCont sub1">
          <div class="generics categories">
            <p class="title">Car Generics:</p>
            <p>Brand:
              <ng-container *ngIf="isEditing; else brandDisplay">
                <input class="modify" [(ngModel)]="selectedSum.brand">
              </ng-container>
              <ng-template #brandDisplay>{{ selectedSum.brand }}</ng-template>
            </p>
            <p>Model:
              <ng-container *ngIf="isEditing; else modelDisplay">
                <input class="modify" [(ngModel)]="selectedSum.model">
              </ng-container>
              <ng-template #modelDisplay>{{ selectedSum.model }}</ng-template>
            </p>
            <p>Configuration:
              <ng-container *ngIf="isEditing; else configDisplay">
                <input class="modify" [(ngModel)]="selectedSum.configuration">
              </ng-container>
              <ng-template #configDisplay>{{ selectedSum.configuration }}</ng-template>
            </p>
            <p>Fuel:
              <ng-container *ngIf="isEditing; else fuelDisplay">
                <input class="modify" [(ngModel)]="selectedSum.fuel">
              </ng-container>
              <ng-template #fuelDisplay>{{ selectedSum.fuel }}</ng-template>
            </p>
          </div>

          <div class="exteriors categories">
            <p class="title">Exteriors:</p>
            <p>Color:
              <ng-container *ngIf="isEditing; else colorDisplay">
                <input class="modify" [(ngModel)]="selectedSum.color">
              </ng-container>
              <ng-template #colorDisplay>{{ selectedSum.color }}</ng-template>
            </p>
            <p>Finish:
              <ng-container *ngIf="isEditing; else finishDisplay">
                <input class="modify" [(ngModel)]="selectedSum.finish">
              </ng-container>
              <ng-template #finishDisplay>{{ selectedSum.finish }}</ng-template>
            </p>
            <p>Rim type:
              <ng-container *ngIf="isEditing; else rimTypeDisplay">
                <input class="modify" [(ngModel)]="selectedSum.rimType">
              </ng-container>
              <ng-template #rimTypeDisplay>{{ selectedSum.rimType }}</ng-template>
            </p>
            <p>Rim size:
              <ng-container *ngIf="isEditing; else rimSizeDisplay">
                <input class="modify" [(ngModel)]="selectedSum.rimSize">
              </ng-container>
              <ng-template #rimSizeDisplay>{{ selectedSum.rimSize }}</ng-template>
            </p>
          </div>
        </div>

        <div class="subCont sub2">
          <div class="interiors categories">
            <p class="title">Interiors:</p>
            <p>Seat material:
              <ng-container *ngIf="isEditing; else seatMatDisplay">
                <input class="modify" [(ngModel)]="selectedSum.seatMaterial">
              </ng-container>
              <ng-template #seatMatDisplay>{{ selectedSum.seatMaterial }}</ng-template>
            </p>
            <p>Seat color:
              <ng-container *ngIf="isEditing; else seatColorDisplay">
                <input class="modify" [(ngModel)]="selectedSum.seatColor">
              </ng-container>
              <ng-template #seatColorDisplay>{{ selectedSum.seatColor }}</ng-template>
            </p>
            <p>Upholstery:
              <ng-container *ngIf="isEditing; else upholsteryDisplay">
                <input class="modify" [(ngModel)]="selectedSum.upholsteryColor">
              </ng-container>
              <ng-template #upholsteryDisplay>{{ selectedSum.upholsteryColor }}</ng-template>
            </p>
            <p>Trim:
              <ng-container *ngIf="isEditing; else trimDisplay">
                <input class="modify" [(ngModel)]="selectedSum.trimType">
              </ng-container>
              <ng-template #trimDisplay>{{ selectedSum.trimType }}</ng-template>
            </p>
          </div>

          <div class="tech categories">
            <p class="title">Techs:</p>
            <p>Display size:
              <ng-container *ngIf="isEditing; else displaySizeDisplay">
                <input class="modify" [(ngModel)]="selectedSum.displaySize">
              </ng-container>
              <ng-template #displaySizeDisplay>{{ selectedSum.displaySize }}</ng-template>
            </p>
            <p>HeadsUp Display:
              <ng-container *ngIf="isEditing; else headsUpDisplay">
                <input type="checkbox" [(ngModel)]="selectedSum.displayHeadsUp">
              </ng-container>
              <ng-template #headsUpDisplay>{{ selectedSum.displayHeadsUp ? 'Yes' : 'No' }}</ng-template>
            </p>
            <p>Autopilot:
              <ng-container *ngIf="isEditing; else autopilotDisplay">
                <input type="checkbox" [(ngModel)]="selectedSum.autopilot">
              </ng-container>
              <ng-template #autopilotDisplay>{{ selectedSum.autopilot ? 'Yes' : 'No' }}</ng-template>
            </p>
          </div>
        </div>
      </div>

      <input class="price" type="text" placeholder="Insert price" [(ngModel)]="insertedPrice">
      
      <div class="buttons">
        <button class="intBtn" (click)="confirm()">Confirm</button>
        <button class="intBtn" (click)="close()">Close</button>
        <button class="intBtn" (click)="cancel(selectedSum)">Deny</button>
        <button class="intBtn" *ngIf="!isEditing" (click)="isEditing = true">Modifica</button>
        <button class="intBtn" *ngIf="isEditing" (click)="isEditing = false">Annulla Modifica</button>
      </div>
    </div>
  </div>
</div>
<!-- ---------------------------------------------- -->
