<div class="component">
  <div class="centralCard">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" ngModel required />
      <!-- <div ngIf="username.invalid && username.touched" style="color: #ff0000">
        username cant be empty
      </div> -->

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required />
      <!-- <div ngIf="password.invalid && password.touched" style="color: #ff0000">
        username cant be empty
      </div> -->

      <button type="submit">Login</button>
    </form>
  </div>
</div>
