
    .navbar{
      position: sticky;
      top: 0;
      left: 0;
      z-index: 200;
      width: 100%;
    }
    
    .parallax {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: end;
      background-image: url('https://shorturl.at/xJBP0');
      height: 900px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset 0 0 100px #000000;
      filter:brightness(0.8);
    }

    .parallaxTxt{
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
    }

  .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      height: 80rem;
      width: 100%;
      padding-top: 2rem;
      background-color: #1A1A1A;
  }

  .metallic {
      font-size: 4rem;
      font-weight: bold;
      background: linear-gradient(45deg, #ffd700, #ffcc00, #e6a900, #ffb700);
      background-size: 400% 400%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      animation: metallic 10s linear infinite;
    
      @keyframes metallic {
          0% {
              background-position: 200% 250%;
            }
            50% {
              background-position: -200% -250%;
            }
            100% {
              background-position: 200% 250%;
            }
      }
    }

    h3{
      color: #FAF9F6;
    }

    .logoButtons{
      margin: 5rem 0;

    }

    .carouselBox{
      margin-top: 1rem;
    }

    // .sliderBox{
    //   max-width: 100%;
    //   margin-top: 5rem;
    //   height: 30rem;
    // }



    @media (max-width:480px) {

      .content{
        padding-top: 0;
      }

      .parallax{
        background-image: url("../../../assets/specter-topvw.png");
        background-attachment: scroll;
      }
      .parallaxTxt{
        top: 40%;
      }
    }