<head>
    <link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">

</head>
<body>
    <!--Sistemare la sticky nav-->
    <app-navbar class="navbar"></app-navbar>
    <div class="parallax">
        <div class="parallaxTxt">
            <h1 class="metallic">LuXar</h1>
            <h3>Drive Your Dreams</h3>
        </div>
    </div>
    <div class="content">
        <div class="logoButtons">
            <app-button-rack></app-button-rack>
        </div>
        <div class="carouselBox">
            <app-carousel></app-carousel>
        </div>
        <div class="sliderBox">
            <app-item-slider></app-item-slider>
        </div>
    </div>
</body>
