*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: heldane,prata,sans-serif;
    position: relative;
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
}

.parallax {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('https://shorturl.at/xJBP0');
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 100px #000000;
  }

  .parallaxTxt{
    padding: 1rem;
    margin-left: 5rem;
  }

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 50rem;
    width: 100%;
    padding-top: 2rem;
    background-color: #1A1A1A;
}

.metallic {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(45deg, #ffd700, #ffcc00, #e6a900, #ffb700);
    background-size: 400% 400%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: metallic 10s linear infinite;
  
    @keyframes metallic {
        0% {
            background-position: 200% 250%;
          }
          50% {
            background-position: -200% -250%;
          }
          100% {
            background-position: 200% 250%;
          }
    }
  }

  h3{
    color: #FAF9F6;
  }

  .logoButtons{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .carouselBox{
    margin-top: 5rem;
    /*
    Qui hai messo la stessa altezza del componente filgio con classe sectionBox, nel file carousel.component.scss
    Non è da fare. Anche qui, un'altezza fissa non si da al componente padre tranne per casi specifici.
    
    --- height: 30rem;
    */
  }

  .sliderBox{
    /*
    In questo caso, essendo che ci sono più elementi all'interno dell'elemento padre, il contenitore
    prende tutto lo spazio disponibile affinchè tutti i suoi figli siano al suo interno.
    Per evitare ciò basta inserire la lunghezza massima del componente, quindi:
    max-width: 100%;
    Successivamente puoi dare la width al 100% allo slider.
    */
    max-width: 100%;
    margin-top: 3rem;
    height: 30rem;
  }