<div class="grid-container">
    <div class="grid-item"><img src="../../../assets/Logos/aston_martin.jpg" alt="Image 1"><div class="logo"></div></div>
    <div class="grid-item"><img src="../../../assets/Logos/audi.jpg" alt="Image 2"></div>
    <div class="grid-item"><img src="../../../assets/Logos/bentley.jpg" alt="Image 3"></div>
    <div class="grid-item"><img src="../../../assets/Logos/bmw.jpg" alt="Image 4"></div>
    <div class="grid-item"><img src="../../../assets/Logos/brabus.jpg" alt="Image 5"></div>
    <div class="grid-item"><img src="../../../assets/Logos/ferrari.jpg" alt="Image 6"></div>
    <div class="grid-item"><img src="../../../assets/Logos/ford.jpg" alt="Image 7"></div>
    <div class="grid-item"><img src="../../../assets/Logos/koenigsegg.jpg" alt="Image 8"></div>
    <div class="grid-item"><img src="../../../assets/Logos/lamborghini.jpg" alt="Image 9"></div>
    <div class="grid-item"><img src="../../../assets/Logos/maybach.jpg" alt="Image 10"></div>
    <div class="grid-item"><img src="../../../assets/Logos/mclaren.jpg" alt="Image 11"></div>
    <div class="grid-item"><img src="../../../assets/Logos/bugatti.jpg" alt="Image 12"></div>
  </div>