<div class="bodyCont">
  <div class="centralCard">
    <div class="summaryHead">
      <h3>Quote details</h3>
    </div>
    <div *ngIf="carBuild" class="buildTxt">
      <div class="subCont sub1">
        <div class="generics categories">
          <p class="title">Car Generics:</p>
          <p>Brand: {{ carBuild.brand }}</p>
          <p>Model: {{ carBuild.model }}</p>
          <p>Configuration: {{ carBuild.configuration }}</p>
          <p>Fuel: {{ carBuild.fuel }}</p>
        </div>
        <div class="exteriors categories">
          <p class="title">Exteriors:</p>
          <p>Color: {{ carBuild.color }}</p>
          <p>Finish: {{ carBuild.finish }}</p>
          <p>Rim type: {{ carBuild.rimType }}</p>
          <p>Rim size: {{ carBuild.rimSize }}</p>
        </div>
      </div>
      <div class="subCont sub2">
        <div class="interiors categories">
          <p class="title">Interiors:</p>
          <p>Seat material: {{ carBuild.seatMaterial }}</p>
          <p>Seat color: {{ carBuild.seatColor }}</p>
          <p>Upholstery: {{ carBuild.upholsteryColor }}</p>
          <p>Trim: {{ carBuild.trimType }}</p>
        </div>

        <div class="tech categories">
          <p class="title">Techs:</p>
          <p>displaySize: {{ carBuild.displaySize }}</p>
          <p>Display HeadsUp: {{ carBuild.displayHeadsUp ? "Yes" : "No" }}</p>
          <p>Autopilot: {{ carBuild.autopilot ? "Yes" : "No" }}</p>
        </div>
      </div>
    </div>

    <button class="confirm">Confirm</button>
  </div>
</div>
