*{
    margin: 0;
}
body{
    width: 100%;
    height: 80%;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centralCard{
  width:30vw;
  height: 40vh;
  background-color: #4A4A4A;

}
